In [7]:
# importando librerias necesarias para el analisis de la GEIH
import pandas as pd
import numpy as np

In [17]:
#leyendo los datos de la GEIH
df_cgsse = pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/CGSSE.CSV"
                       ,encoding="latin", sep=";")

df_fuerzatrabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"
                               ,encoding="latin",sep=";")

df_NoOcupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV"
                            ,encoding="latin",sep=";")

df_Ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"
                          ,encoding="latin", sep=";")

/tmp/ipykernel_20273/2620267471.py:5: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fuerzatrabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV"
/tmp/ipykernel_20273/2620267471.py:11: DtypeWarning: Columns (28,89,135,150,161) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV"

In [20]:
df_fuerzatrabajo

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20240730,7,2024,7858603,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20240730,7,2024,7858603,1,2,1,50,NaN,2,...,NaN,NaN,1.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN
2,20240730,7,2024,7858603,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20240730,7,2024,7858604,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20240730,7,2024,7858604,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55033,20240729,7,2024,7889226,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55034,20240730,7,2024,7889227,1,1,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55035,20240730,7,2024,7889227,1,2,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55036,20240730,7,2024,7889227,1,3,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55037,20240730,7,2024,7889227,1,4,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN